#github action auturun every push
name: Run on Push 
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo "Code automatically runs on every push!"
